<body>
    <h1>Preço médio do produto '{{ p }}': R$ {{ media }}</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Vendedor</th>
                <th>Avaliação</th>
                <th>Qtd Avaliações</th>
                <th>Preço</th>
                <th>Parcela</th>
                <th>Desconto</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.vendedor }}</td>
                <td>{{ produto.avaliacao }}</td>
                <td>{{ produto.qtdavaliacao }}</td>
                <td>{{ produto.valor }}</td>
                <td>{{ produto.parcela }}</td>
                <td>{{ produto.desconto }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="voltar">
        <a class="back-button" onclick=window.location.reload()><</a>
    </div>
</body>