<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form action="/search" method="post">
        <label class="item-pesquisavel">
            Escolha o que pesquisar:
            <input type="text" name="produto" placeholder="Ex: Chuveiro..." required>
        </label>
        <label class="qtd-item">
            <input type="number" name="qtd" placeholder="Quantidade..." required>
        </label>
        <input type="submit" value="Buscar">
    </form>    
</body>
</html>
